@page
@model BirdCageProduction.Web.Pages.ProductionPlanSteps.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductionPlanStep</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlanStep.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlanStep.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlanStep.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlanStep.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlanStep.RealCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlanStep.RealCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlanStep.ProcedureStep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlanStep.ProcedureStep.ProcedureStepId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlanStep.ProductionPlan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlanStep.ProductionPlan.ProductionPlanId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductionPlanStep?.ProductionPlanStepId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
