@page
@model BirdCageProduction.Web.Pages.ProcedureStepPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureStep[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureStep[0].TimeNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureStep[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureStep[0].NumOfWorker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcedureStep[0].Procedure)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProcedureStep) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfWorker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procedure.ProcedureId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProcedureStepId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProcedureStepId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProcedureStepId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
