@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.DayCreated" class="control-label"></label>
                <input asp-for="Order.DayCreated" class="form-control" />
                <span asp-validation-for="Order.DayCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.TotalPrice" class="control-label"></label>
                <input asp-for="Order.TotalPrice" class="form-control" />
                <span asp-validation-for="Order.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.StatusId" class="control-label"></label>
                <input asp-for="Order.StatusId" class="form-control" />
                <span asp-validation-for="Order.StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Address" class="control-label"></label>
                <input asp-for="Order.Address" class="form-control" />
                <span asp-validation-for="Order.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.AccountId" class="control-label"></label>
                <select asp-for="Order.AccountId" class ="form-control" asp-items="ViewBag.AccountId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.CustomerId" class="control-label"></label>
                <select asp-for="Order.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            @* @foreach (var item in Model.Order.OrderDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirdCage.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order.OrderId)
                    </td>
                    <td>
                        <a asp-page="OrderDetailPage/Edit" asp-route-id="@item.OrderDetailId">Edit</a> |
                        <a asp-page="OtherDetailPage/Details" asp-route-id="@item.OrderDetailId">Details</a> |
                        <a asp-page="OtherDetailPage/Delete" asp-route-id="@item.OrderDetailId">Delete</a>
                    </td>

                </tr>
                <br>
            } *@
            <p>
                <a asp-page="OrderDetailPage/Create">Add</a>
            </p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
