@page
@model BirdCageProduction.Web.Pages.ProductionPlans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductionPlan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlan.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlan.Account.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionPlan.OrderDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionPlan.OrderDetail.OrderDetailId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductionPlan?.ProductionPlanId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
