@page
@model BirdCageProduction.Web.Pages.ProcedurePage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="app">
    <div class="main">
        <ul class="tabs">
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Dashboard/Index">Dashboard</a>
                </span>
            </li>
            <li class="tabs-item ">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">Order</a>
                </span>
            </li>
            <li class="tabs-item ">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Production/Index">Production</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/BirdCagePage/Index">Bird Cage</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/PartPage/Index">Part</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/CustomerPage/Index">Customer</a>
                </span>
            </li>
            <li class="tabs-item active">
                <span class="tabs-item__text active">
                    <a class="nav-link text-dark" asp-area="" asp-page="/ProcedurePage/Index">Procedure</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AccountPage/Index">Account</a>
                </span>
            </li>
        </ul>
        <div class="tabs-content">

            <div class="tabs-content__item active">
                <div class="form-wrapper">
                    
                        <form method="post" class="form_order">
                            <div class="form-item" hidden>
                                <label for="Id">Id</label>
                                <input type="text" class="form-item_input" id="Id" asp-for="Procedure.ProcedureId" />
                            </div>
                            <div class="form-item">
                                <label for="Birdcage">Bird cage</label>
                                <select id="Birdcage" class="form-item_input" asp-for="Procedure.BirdCageId" asp-items="ViewBag.BirdCages">

                                </select>
                            </div>
                            <div class="form-item">
                                <label for="Quantity">Quantity</label>
                                <input type="text" class="form-item_input" id="Quantity" asp-for="Procedure.Quantity"/>
                            </div>


                            <div class="form-item">
                                <label for="">Step</label>
                                <div class="form-item__bird-cage">
                                    <div id="procedure-list">
                                    @if (Model.Procedure != null)
                                    {
                                        @for (var i = 0; i < Model.ProcedureSteps.Count; i++)
                                        {
                                            <div class="bird-cage-item" id="@i">
                                                <div class="form-item" hidden>
                                                    <label for="Name">Id</label>
                                                    <input type="text" class="form-item_input" id="ProcedureSteps[@i].ProcedureStepId" asp-for="ProcedureSteps[i].ProcedureStepId" />
                                                </div>
                                                <div class="form-item">
                                                    <label for="Name">StepNum</label>
                                                    <input type="text" class="form-item_input" id="ProcedureSteps[@i].StepNum" asp-for="ProcedureSteps[i].StepNum" />
                                                </div>
                                                <div class="form-item">
                                                    <label for="Description">Description</label>
                                                    <textarea rows="9" type="text" class="form-item_input" id="ProcedureSteps[@i].Description" asp-for="ProcedureSteps[i].Description"></textarea>
                                                </div>
                                                <div class="form-item">
                                                    <label for="time-needed">Time Needed</label>
                                                    <input type="text" class="form-item_input" id="ProcedureSteps[@i].TimeNeeded" asp-for="ProcedureSteps[i].TimeNeeded" />
                                                </div>
                                                <div class="form-item">
                                                    <label for="cost">Cost</label>
                                                    <input type="text" class="form-item_input" id="ProcedureSteps[@i].Cost" asp-for="ProcedureSteps[i].Cost" />
                                                </div>
                                                <div class="form-item">
                                                    <label for="worker-num">Worker num</label>
                                                    <input type="text" class="form-item_input" id="ProcedureSteps[@i].NumOfWorker" asp-for="ProcedureSteps[i].NumOfWorker" />
                                                </div>

                                                <img src="../images/icon-delete.png"
                                                     alt=""
                                                     width="60" onclick="deleteRow(this)" />
                                            </div>
                                        }

                                    }
                                </div>


                                <div class="plus">
                                        <button style="background:none;border:none;color:inherit;padding:inherit;cursor:pointer;outline:inherit"
                                                type="button" id="createDivButton">
                                            +
                                        </button>
                                    </div>
                                </div>
                            </div>
                        @if(Model.Procedure != null)
                        {
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure want to delete this item?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-danger"
                                                    asp-page-handler="Delete">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="list-btn">
                                <button class="btn" type="submit" asp-page-handler="Edit">Update</button>
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Delete
                                </button>
                                <button class="btn" type="submit" asp-page-handler="Reset">Cancel</button>
                            </div>
                        }
                        else
                        {
                            <div class="list-btn">
                                <button class="btn" type="submit" asp-page-handler="Add">Add</button>
                                <button class="btn" type="submit" asp-page-handler="Reset">Cancel</button>
                            </div>
                        }


                        </form>
                    @* 
                    <div class="list-btn">
                        <button class="btn view">View Bird cage detail</button>
                    </div> *@

                    <div class="table">
                        <table>
                            <tr>
                                <th>Id</th>
                                <th>Bird cage name</th>
                                <th>Quantity</th>
                            </tr>
                            @foreach(var item in Model.Procedures)
                            {
                                <tr>
                                    <td>@item.ProcedureId</td>
                                    <td>@item.BirdCage.Name</td>
                                    <td>@item.Quantity</td>
                                    <td>
                                        <form method="post" asp-page-handler="ById" asp-route-id="@item.ProcedureId">
                                            <button type="submit" class="btn btn-secondary">
                                                Detail
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
@*                     <div class="pagination">
                        <a href="#" class="pagination-prev"><< Prev</a>
                        <a href="#" class="pagination-number">1</a>
                        <a href="#" class="pagination-number">2</a>
                        <a href="#" class="pagination-number">3</a>
                        <a href="#" class="pagination-number">4</a>
                        <a href="#" class="pagination-number">5</a>
                        <a href="#" class="pagination-number">6</a>
                        <a href="#" class="pagination-number">7</a>
                        <a href="#" class="pagination-number">8</a>
                        <a href="#" class="pagination-number">9</a>
                        <a href="#" class="pagination-number">10</a>
                        <a href="#" class="pagination-next">Next >></a>
                    </div> *@
                </div>
            </div>

        </div>
    </div>
</div>



<script>

    const createDivButton = document.getElementById("createDivButton");
    const container = document.getElementById("procedure-list");
    var count = 0 + @Model.ProcedureSteps.Count;
    function createAndDisplayDiv() {
    @{
        Model.ProcedureSteps.Add(new BusinessObject.Models.ProcedureStep());
    }
            container.innerHTML +=
                    `
                    <div class="bird-cage-item" id="${count}">
                        <div class="form-item" hidden>
                            <label for="Name">Id</label>
                            <input type="text" class="form-item_input" id="ProcedureSteps[${count}].ProcedureStepId" name="ProcedureSteps[${count}].ProcedureStepId" />
                        </div>
                        <div class="form-item">
                            <label for="Name">StepNum</label>
                            <input type="text" class="form-item_input" id="ProcedureSteps[${count}].StepNum" name="ProcedureSteps[${count}].StepNum" />
                        </div>
                        <div class="form-item">
                            <label for="Description">Description</label>
                            <textarea rows="9" type="text" class="form-item_input" id="ProcedureSteps[${count}].Description" name="ProcedureSteps[${count}].Description"></textarea>
                        </div>
                        <div class="form-item">
                            <label for="time-needed">Time Needed</label>
                            <input type="text" class="form-item_input" id="ProcedureSteps[${count}].TimeNeeded" name="ProcedureSteps[${count}].TimeNeeded" />
                        </div>
                        <div class="form-item">
                            <label for="cost">Cost</label>
                            <input type="text" class="form-item_input" id="ProcedureSteps[${count}].Cost" name="ProcedureSteps[${count}].Cost" />
                        </div>
                        <div class="form-item">
                            <label for="worker-num">Worker num</label>
                            <input type="text" class="form-item_input" id="ProcedureSteps[${count}].NumOfWorker" name="ProcedureSteps[${count}].NumOfWorker" />
                        </div>

                        <img src="../images/icon-delete.png"
                             alt=""
                             width="60" onclick="deleteRow(this)" />
                    </div>
                `;
        count++;
    }

    createDivButton.addEventListener("click", createAndDisplayDiv);

    function deleteRow(element) {
        var currentRow = parseInt(($(element).parent("div")).parent("div").attr('id'));

        ($(element).parent("div")).remove();

        for (var i = currentRow + 1; i < count; i++) {
            document.getElementById(i).id = currentRow;

            var stepNum = document.getElementById(`ProcedureSteps[${i}].StepNum`);
            stepNum.id = `ProcedureSteps[${currentRow}].StepNum`;
            stepNum.setAttribute("name", `ProcedureSteps[${currentRow}].StepNum`);

            var description = document.getElementById(`ProcedureSteps[${i}].Description`);
            description.id = `ProcedureSteps[${currentRow}].Description`;
            description.setAttribute("name", `ProcedureSteps[${currentRow}].Description`);

            var timeNeeded = document.getElementById(`ProcedureSteps[${i}].TimeNeeded`);
            timeNeeded.id = `ProcedureSteps[${currentRow}].TimeNeeded`;
            timeNeeded.setAttribute("name", `ProcedureSteps[${currentRow}].TimeNeeded`);

            var cost = document.getElementById(`ProcedureSteps[${i}].Cost`);
            cost.id = `ProcedureSteps[${currentRow}].Cost`;
            cost.setAttribute("name", `ProcedureSteps[${currentRow}].Cost`);

            var numOfWorker = document.getElementById(`ProcedureSteps[${i}].NumOfWorker`);
            numOfWorker.id = `ProcedureSteps[${currentRow}].NumOfWorker`;
            numOfWorker.setAttribute("name", `ProcedureSteps[${currentRow}].NumOfWorker`);

            currentRow++;
        }



        count--;
    }


</script>