@page
@using BusinessLogic.AutoMappers;
@model BirdCageProduction.Web.Pages.Production.IndexModel
@{
}
<div class="app">
    <div class="main">
        <ul class="tabs">
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Dashboard/Index">Dashboard</a>
                </span>
            </li>
            <li class="tabs-item ">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">Order</a>
                </span>
            </li>
            <li class="tabs-item active">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Production/Index">Production</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/BirdCagePage/Index">Bird Cage</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/PartPage/Index">Part</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/CustomerPage/Index">Customer</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text active">
                    <a class="nav-link text-dark" asp-area="" asp-page="/ProcedurePage/Index">Procedure</a>
                </span>
            </li>
            <li class="tabs-item">
                <span class="tabs-item__text">
                    <a class="nav-link text-dark" asp-area="" asp-page="/AccountPage/Index">Account</a>
                </span>
            </li>
        </ul>
        <div class="tabs-content">

            <div class="tabs-content">

                <div class="tabs-content__item active">Production</div>
                @if (Model.Order != null)
                {

                    @foreach (var order in Model.Order)
                    {
                        @if (order.StatusId != 5)
                        {
                            <div class="form-item">
                                <label for="order">Order</label>
                                <input type="text" class="form-item_input" id="id" value="@(order.OrderId)" disabled />
                                <input type="text" class="form-item_input" id="id" value="@(Constant.OrderStatus[(int)order.StatusId])" disabled />
                                <input type="text" class="form-item_input" id="id" value="@(order.TotalPrice)" disabled />

                            </div>

                            <form method="post" asp-page-handler="ToNextStatus" asp-route-id="@order.OrderId">
                                <button type="submit" class="btn btn-secondary">To next Order Status</button>
                            </form>
                            <br />
                            <div style="margin-left:30px">
                                @foreach (var orderDetail in order.OrderDetails)
                                {
                                    <span>
                                        @* @("  - " + orderDetail.ToString()) *@
                                        <div class="form-item">
                                            <label for="order">Bird cage @(orderDetail.BirdCage.Name)</label>
                                            <input type="text" class="form-item_input" id="id" value="@(orderDetail.Quantity)" disabled />
                                        </div>
                                        @if (orderDetail.Progresses != null && orderDetail.Progresses.Count > 0)
                                        {
                                            <form method="post" asp-page-handler="ToNextProgress" asp-route-id="@orderDetail.OrderDetailId">
                                                @* @("Current Step: " + orderDetail.Progresses.ToArray()[(int)orderDetail.CurrentStep].ProgressNum) *@
                                                <div class="form-item">
                                                    <label for="order">Current Step </label>
                                                    <input type="text" class="form-item_input" id="id" value="@(orderDetail.Progresses.ToArray()[(int)orderDetail.CurrentStep].ProgressNum)" disabled />
                                                    <input type="text" class="form-item_input" id="id" value="@(orderDetail.Progresses.ToArray()[(int)orderDetail.CurrentStep].StartDay)" disabled />
                                                    <input type="text" class="form-item_input" id="id" value="@(orderDetail.Progresses.ToArray()[(int)orderDetail.CurrentStep].EndDay)" disabled />
                                                </div>
                                                <button type="submit" class="btn btn-secondary">To next Progress</button>
                                            </form>

                                        }
                                        else
                                        {
                                            <form method="post" asp-page-handler="GenerateProgress" asp-route-id="@orderDetail.OrderDetailId">

                                                <button type="submit" class="btn btn-secondary">Generate Progresses</button>
                                            </form>
                                        }

                                    </span>
                                    <br>

                                }
                            </div>
                        } else
                        {
                            <div class="form-item">
                                <label for="order">Order</label>
                                <input type="text" class="form-item_input" id="id" value="@(order.OrderId)" disabled />
                                <input type="text" class="form-item_input" id="id" value="@(Constant.OrderStatus[(int)order.StatusId])" disabled />
                                <input type="text" class="form-item_input" id="id" value="@(order.TotalPrice)" disabled />

                            </div>
                        }
                    }
                }
            </div>

        </div>
    </div>
</div>